 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Stefany is an experienced accounting, audit and compliance professional that has found a passion and knack for data visualization and analytics. She's actively pursuing data science through self-study, Tidy Tuesdays, R Ladies, and the amazing world of data science Twitter. </p>
                </div>
                <div class="col-lg-4">
                    <p>Stefany actively volunteers with Back on My Feet and 826CHI. She also loves cycling, knitting slowly, running, visitng the Chicago Art Institute, playing with her niece and nephew, and writing fiction. </p>
                </div>
            </div>
        </div>
    </section>
